@media screen and (max-width: 425px) {
  .menu-container {
    flex-direction: column;
  }
  .menu-bar {
    flex-direction: column;
  }
  .menus {
    margin-top: 20px;
  }
  .menu-btn {
    margin-top: 20px;
  }
  .menu-icon {
    width: 50%;
  }
  .banner-text {
    width: 100%;

    align-items: center;
  }
  .banner-img-container {
    width: 100%;
  }
  .banner-text {
    width: 100%;
  }
  .banner-container {
    flex-direction: column;
  }
  .footer-section {
  }
  .card-container {
    flex-direction: column;
  }
  .card-texts {
    flex-direction: column;
  }
  .body-container {
    flex-direction: column;
  }
  .card-container {
    display: flex;
  }
  .game-card1 {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .game-card2 {
    margin-top: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .game-card-6,
  .game-card-6,
  .game-card-6 {
    margin-left: 0%;
  }
  .game-card-7 {
    margin-left: 5%;
  }
  .footer-menu {
    margin-right: 50px;
    margin-left: 50px;
  }
  .terms-conditions {
    margin-right: 50px;
    margin-left: 50px;
  }
  .game-card-1 {
    width: 90%;
  }
  .game-card-2 {
    width: 90%;
  }
  .game-card-3 {
    width: 90%;
  }
  .game-card-4 {
    width: 100%;
  }
  .game-card-5 {
    width: 90%;
  }
  .game-card-55 {
    width: 90%;
  }
  .game-card-6 {
    width: 90%;
  }
  .game-card-7 {
    width: 90%;
  }
  .game-card-8 {
    width: 90%;
  }
}
