@media screen and (max-width: 425px) {
  .menu-container {
    flex-direction: column;
  }
  .menu-bar {
    flex-direction: column;
  }
  .menus {
    margin-top: 20px;
  }
  .menu-btn {
    margin-top: 20px;
  }
  .menu-icon {
    width: 50%;
  }
  .banner-text {
    width: 100%;

    align-items: center;
  }
  .banner-img-container {
    width: 100%;
  }
  .banner-text {
    width: 100%;
  }
  .banner-container {
    flex-direction: column;
  }
  .footer-section {
  }
  .card-container {
    flex-direction: column;
  }
  .card-texts {
    flex-direction: column;
  }
}
