* {
  box-sizing: border-box;
}
* {
  @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700;800&display=swap");
}
.icon {
  margin-right: 10px;
}
.icon-text {
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
}
.primary {
  color: rgb(255, 66, 165);
}
.menu-container {
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  max-width: 1400px;
  margin: 0 auto;
}
.menu-icon {
  width: 50%;

  display: flex;
  align-items: center;

  /* border: 1px solid black; */
}
.menu-bar {
  /* border: 1px solid green; */
  width: 50%;
  display: flex;
  gap: 3rem;
  /* justify-content: space-between; */
  align-items: center;
}
.menus {
  text-decoration: none;
  color: black;
}
.menu-btn {
  color: black;
  text-decoration: none;
  border-radius: 10px;
  border-style: none;
  padding: 10px 20px;
  background-color: rgb(231, 230, 233);
}
.banner-btns {
  display: flex;
  gap: 2rem;
  padding: 1rem 0rem;
}
