* {
  @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700;800&display=swap");
}

.icon-text {
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
}
.primary {
  color: rgb(255, 66, 165);
}
.menu-icon {
  display: flex;
  align-items: center;
}
.menu-container {
  display: flex;
}
