* {
  box-sizing: border-box;
}
* {
  @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700;800&display=swap");
}
.icon {
  margin-right: 10px;
}
.icon-text {
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
}
.primary {
  color: rgb(255, 66, 165);
}
.menu-container {
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  border: 1px solid red;
}
.menu-icon {
  width: 50%;
  /* margin: 0 auto; */
  display: flex;
  align-items: center;

  /* border: 1px solid black; */
}
